doctype html
html(lang="en")
head
  include head.jade
body

  div.container
    div.header
                      
    form(id="attended")
      h2 Attended an Event
      input(type="hidden",name="collection",value="event")

      div.form-group
        label(for="eventtitle") Title
        input#eventtitle.form-control(name="title",type="text",placeholder="Event Title",value="#{doc.title}")

      div.form-group
        label(for="eventstart") Date Start
        input#eventstart.form-control(name="dtstart",type="date",placeholder="YYYY-MM-DD")

      div.form-group
        label(for="eventend") Date End
        input#eventend.form-control(name="dtend",type="date",placeholder="YYYY-MM-DD")

      div.form-group
        label(for="eventdescription") Description
        textarea#eventdescription.form-control(name="description")
 
      div.form-group
        label(for="eventattendees") Attendees
        input#eventattendees.form-control(name="attendees",type="number",placeholder="the approximate number of attendees at the event")

      div.form-group
        label(for="eventleads") Leads
        input#eventleads.form-control(name="leads",type="number",placeholder="the approximate number of leads generated at the event")

       div.form-group
         h3 Categories
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Conference")
           | Conference
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Meetup")
           | Meetup 
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Hackathon")
           | Hackathon
                      
      div.form-group
        h3 IBM Sponsored
        div.checkbox
          label
          input(name="sponsored",type="checkbox",value="Sponsored")
          | Yes

      div.form-group
        label(for="eventtags") Tags
        input#eventtags.form-control(name="tags",type="text",placeholder="e.g. Node,Geo")
  
      div.form-group
        label(for="eventcomments") Comments
        textarea#eventcomments.form-control(name="comments")                  
      
      div#error
      div#message            
                                          
      button.btn.btn-default(type="submit") Submit
      
      script.
        $( document ).ready(function() {
          $('#attended').on( "submit", function( event ) {
            event.preventDefault();
            submitForm($( this ).serialize());
          });
        });