doctype html
html(lang="en")
head
  include head.jade
body

  div.container
    div.header
    
    div#error
    div#message
                      
    div#attendedorpresented.jumbotron
      a.btn.btn-primary.btn-lg(href="attended",role="button") I attended an event
      &nbsp;
      a.btn.btn-warning.btn-lg(href="presented",role="button") I presented at an event
      
    div#myevents
      h2 My events
      ul
      each d in docs
        li
          a(href="edit?id=#{d.id}") #{d.value[0]} (#{d.value[1]})  
      
