doctype html
html(lang="en")
head
  include head.jade
body

  div.container
    div.header
    
    div#error
    div#message
                      
    div#attendedorpresented.jumbotron
      a.btn.btn-primary.btn-lg(href="Javascript:selectAttended()",role="button") I attended an event
      &nbsp;
      a.btn.btn-warning.btn-lg(href="Javascript:selectPresented()",role="button") I presented at an event
      
    form(id="attended")
      h2 Attended an Event
      input(type="hidden",name="collection",value="event")

      div.form-group
        label(for="eventtitle") Title
        input#eventtitle.form-control(name="title",type="text",placeholder="Event Title",value="#{doc.title}")

      div.form-group
        label(for="eventstart") Date Start
        input#eventstart.form-control(name="dtstart",type="date",placeholder="YYYY-MM-DD")

      div.form-group
        label(for="eventend") Date End
        input#eventend.form-control(name="dtend",type="date",placeholder="YYYY-MM-DD")

      div.form-group
        label(for="eventdescription") Description
        textarea#eventdescription.form-control(name="description")
 
      div.form-group
        label(for="eventattendees") Attendees
        input#eventattendees.form-control(name="attendees",type="number",placeholder="the approximate number of attendees at the event")

      div.form-group
        label(for="eventleads") Leads
        input#eventleads.form-control(name="leads",type="number",placeholder="the approximate number of leads generated at the event")

       div.form-group
         h3 Categories
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Conference")
           | Conference
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Meetup")
           | Meetup 
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Hackathon")
           | Hackathon
                      
      div.form-group
        h3 IBM Sponsored
        div.checkbox
          label
          input(name="sponsored",type="checkbox",value="Sponsored")
          | Yes

      div.form-group
        label(for="eventtags") Tags
        input#eventtags.form-control(name="tags",type="text",placeholder="e.g. Node,Geo")
  
      div.form-group
        label(for="eventcomments") Comments
        textarea#eventcomments.form-control(name="comments")                  
                  
      button.btn.btn-default(type="submit") Submit
      
    form(id="presented")
      h2 Presented at an event
      input(type="hidden",name="collection",value="session")
      
      div.form-group
        label(for="sessionevent") Event
        select#sessionevent.form-control(name="event")
      
      div.form-group
        label(for="sessiontitle") Title
        input#sessiontitle.form-control(name="title",type="text",placeholder="Session Title",value="#{doc.title}")
      
      div.form-group
        label(for="sessionstart") Date
        input#sessionstart.form-control(name="dtstart",type="date",placeholder="YYYY-MM-DD")
      
      div.form-group
        label(for="sessiondescription") Description
        textarea#sessiondescription.form-control(name="description")
        
       div.form-group
         label(for="sessionattendees") Attendees
         input#sessionattendees.form-control(name="attendees",type="number",placeholder="Approximate number of attendees")

       div.form-group
         h3 IBM Sponsored
         div.checkbox
           label
           input(name="sponsored",type="checkbox",value="Sponsored")
           | Yes

       div.form-group
         h3 Categories
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Conference")
           | Conference
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Meetup")
           | Meetup 
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Hackathon")
           | Hackathon
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Webinar")
           | Webinar

       div.form-group
         label(for="sessiontags") Tags
         input#sessiontags.form-control(name="tags",type="text",placeholder="e.g. Node,Geo")

       div.form-group
         label(for="sessioncomments") Comments
         input#sessioncomments.form-control(name="comments",type="text")
       
       button.btn.btn-default(type="submit") Submit


