title IBM Cloud Data Services | Simple Advocated Service
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible",content="IE=edge")
script(src="https://code.jquery.com/jquery-1.11.2.min.js")
script(src="https://code.jquery.com/ui/1.11.2/jquery-ui.js")
link(rel="stylesheet",href="css/master.css")
link(rel="stylesheet",href="css/advocated.css")
link(rel="stylesheet",href="css/mobile.css")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="js/advocated.js")
