doctype html
html(lang="en")
head
  include head.jade
body

  div.container
    div.header
                              
    form(id="presented")
      h2 Presented at an event
      input(type="hidden",name="collection",value="session")
      
      div.form-group
        label(for="sessionevent") Event
        select#sessionevent.form-control(name="event")
      
      div.form-group
        label(for="sessiontitle") Title
        input#sessiontitle.form-control(name="title",type="text",placeholder="Session Title",value="#{doc.title}")
      
      div.form-group
        label(for="sessionstart") Date
        input#sessionstart.form-control(name="dtstart",type="date",placeholder="YYYY-MM-DD")
      
      div.form-group
        label(for="sessiondescription") Description
        textarea#sessiondescription.form-control(name="description")
        
       div.form-group
         label(for="sessionattendees") Attendees
         input#sessionattendees.form-control(name="attendees",type="number",placeholder="Approximate number of attendees")

       div.form-group
         h3 IBM Sponsored
         div.checkbox
           label
           input(name="sponsored",type="checkbox",value="Sponsored")
           | Yes

       div.form-group
         h3 Categories
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Conference")
           | Conference
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Meetup")
           | Meetup 
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Hackathon")
           | Hackathon
         div.checkbox
           label
           input(name="categories",type="checkbox",value="Webinar")
           | Webinar

       div.form-group
         label(for="sessiontags") Tags
         input#sessiontags.form-control(name="tags",type="text",placeholder="e.g. Node,Geo")

       div.form-group
         label(for="sessioncomments") Comments
         input#sessioncomments.form-control(name="comments",type="text")
       
      div#error
      div#message   
       
      button.btn.btn-default(type="submit") Submit

      script.
       $( document ).ready(function() {
         $('#presented' ).on( "submit", function( event ) {
           event.preventDefault();
           submitForm($( this ).serialize());
         });
         prefillPresented();
       });
