<h3>I Spoke To The Press</h3>
<form id="pressed">
  <input id="collection" type="hidden" name="collection" value="press" />
  <input type="hidden" name="_id" value="{{_id}}" />
  <input type="hidden" name="_rev" value="{{_rev}}" />
  <div class="row">
    <div class="input-field col s12">
      <input id="blogtitle" name="title" value="{{title}}" class="" />
      <label for="blogtitle" class="active">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="outlet" type="text" name="outlet" value="{{outlet}}" placeholder="e.g. New York Times" class="" />
      <label for="outlet" class="active">Outlet</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label for="blogdate">Date</label>
      <input id="blogdate" name="dtstart" type="date" placeholder="{{dtstart}}" value="" class="" />
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="blogurl" name="url" type="url" value="{{url}}" class="" />
      <label for="blogurl" class="active">URL</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="blogtags" name="tags" type="text" placeholder="e.g. Node,Geo"  value="{{tags}}" class="" />          
      <label for="blogtags" class="active">Tags</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="blogcomments" name="comments" class="materialize-textarea">{{comments}}</textarea>
      <label for="blogcomments" class="active">Comments</label>
    </div>
  </div>
  <div class="row">
    <div id="error"></div>
    <div id="message"></div>
    {{^_id}}
    <button type="submit" class="validate btn">Submit</button>
    {{/_id}}
    {{#_id}}
    <button type="submit" class="validate btn">Update</button>
    {{/_id}}
  </div>
</form>
